#A{
  background-color: rgb(23, 91, 27);

  padding: 12px;
  width: 80vh;
  height: 40vh;
  border-radius: 4vh;
}
#B{

  background-color: rgb(22, 147, 173);
  

  padding: 12px;
  margin-top: 13px;
  width: 80vh;
  height: 40vh;
  border-radius: 4vh;

}